<!-- Include Head -->
<%- include('partials/head', {title: 'Modificacion de Productos'}) %>
<body class = "bodyCargaProductos"> 
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
    
    <div class="titulo container-fluid">
        <h4>Listado de Productos:</h4>
    </div>
<div class=" main container-fluid">
    <form action="/products/create" >
        <div class="barraBotones">
            <p> 
            <input class="btn btn-primary" type="submit" value="Crear Producto">
        
            </p>
        <div>
    </form>   
    <div class="container"></div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class= "thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Categoria</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Precio Compra</th>
                <th scope="col">Fecha Alta</th>
                <th scope="col">Stock</th>
                <th scope="col">Cuotas</th>
                <th scope="col">Descuento %</th>
                <th scope="col" >Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% for (product of products) { %>
            <tr>
                <th scope="row"><%=product.id%></th>
                <td><%=product.category%></td>
                <td><%=product.name%></td>
                <td>$<%=thousandGenerator (product.priceVenta) %></td>
                <td>$<%=thousandGenerator (product.priceCompra) %></td>
                <td><%=product.dateAlta%></td>
                <td><%=product.stock%></td>
                <td><%=product.cuotas%></td>
                <td><%=product.descuento%></td>
                <td ><a  href="/products/edit/">metele magia</a></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        </div>
    </div>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
    
</body>
</html>